/* Snuffy Linder and Tom Harren    Lab 2*/

body {
    background-color: #B25B4E;
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar, .body_blocks{
    margin-top: 50px;
}


#header {
    font-family: Arial;
    width: 90%;
    height: 280px;
    background-color: #FF5F49;
    color: blanchedalmond;
    font-size:xx-large;
    margin-left: 50px;
    margin-right: 100px;
    text-align: center;
}

#header_image {
    float:left;
    height: 90%;
    padding: 3px;
    margin: 8px;
    border: dashed;
}

#sidebar {
    font-family: Arial;
    float: left;
    width: 15%;
    min-width: 210px;
    background-color: blanchedalmond;
    color: darkblue;
    font-size:xx-large;
    margin-left: 50px;
    text-align: left;

}

#sound_info{
max-width: 300px;
}


.body_blocks {
    margin-left: 50px;
    padding: 15px;
    background-color:lightsalmon;
    float: left;
}

.links{
    padding: 10px;
    color: darkblue;
    font-size:medium;

}

