/* Snuffy Linder and Tom Harren    Lab 2*/


body {
    background-color: #B25B4E;
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}

div, #footer{
      margin-top: 50px;
      margin-left: 50px;
      float: left;
}

#header h1{
    /* This text-shadow effect is an effect that is not
    supported in Internet Explorer 9 and earlier versions*/
    text-shadow: 5px 5px 5px #FF0000;
}

a:visited {
    color: dimgrey;
}

a:hover {
    color:blanchedalmond;
}

#header, #footer{
    width: 90%;
    min-width: 900px;
    margin-right: 50px;
    background-color: #FF5F49;
    color: blanchedalmond;

}
#header{
    height: 280px;
    font-size:x-large;
}

#footer{
    height: 200px;
    font-size:medium;
}

#header_image {
    float:left;
    height: 90%;
    padding: 3px;
    margin: 8px;
    border: dashed;
}

#sidebar {
    width: 200px;
    margin-left: 50px;
    color: blanchedalmond;
    font-size:xx-large;
}

#welcome_block{
    width: 60%;
    clear: right;
}

#poem_block{
    width: 50%;
    clear: right;
}

#audio_block{
    width: 20%;
    min-width: 300px;
    clear: right;
}

#kitten{
    width: 100%;
    padding-top: 15px;

}

.body_blocks {
    padding: 15px;
    background-color:lightsalmon;
}

.links{
    padding: 5px 40px;
    color: darkblue;
    font-size:medium;
    background: #5EFF95;
    border-radius:10px 100px;

}

