/* Snuffy Linder and Tom Harren    Lab 2*/

body {
    background-color:seashell;
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
}





#block1 {
    font-family: Arial;
    font: ;
    width: 90%;
    background-color: coral;
    color: darkblue;
    font-size:xx-large;
    margin-left: 50px;
    margin-right: 100px;
}

#header_image {
    float:left;
    width: 25%;
    height: 25%;
    padding: 3px;
    margin: 10px;
    border: dashed;
}